body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c6eaf5;
}

.headingsection{
    font-size: 50px;
    text-align: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 100px;

}
.textsection{
    font-size: 25px;
    text-align: center;
    align-content: center;
}
.textenhanced{
    font-size: 35px;
    text-align: center;
    align-content: center;
}
.buttonsection{
    font-size: 20px;
    align-content: center;
    text-align: center;
    padding-top: 40px;
}
#customtip{
    background-color: green;
    width: 300px;
    cursor: pointer;
    border-style: unset;
    

}


#Yesbutton, 
#Nobutton {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
}
#Yesbutton:hover{
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
    background-color: #73e362;
    animation-duration: 300ms;
    transition: .5s;
    color: white;
}
#Nobutton:hover{
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
    background-color: #f55b5b;
    animation-duration: 300ms;
    transition: .5s;
    color: white;
}

#percen1, 
#percen2, 
#percen5, 
#percen10, 
#percen15, 
#percenCustom {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
}
#percen1:hover, 
#percen2:hover, 
#percen5:hover, 
#percen10:hover, 
#percen15:hover, 
#percenCustom:hover {
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
    background-color: #73e362;
    animation-duration: 300ms;
    transition: .3s;
    color: white;
}
#tipBox{
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
#enter, 
#edit {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;  
}
#enter:hover, 
#edit:hover {
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
    background-color: #73e362;
    animation-duration: 300ms;
    transition: .5s;
    color: white;
}

#finalText{
    font-size: 25px;
    text-align: center;
    align-content: center;
}

#yesTrial{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
}

/*
The code below this was trial code to see what
the css would look like before pasting it into the 
actual program
*/
#yesTrial:hover{
    padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
    background-color: #73e362;
    animation-duration: 300ms;
    transition: .5s;
    color: white;
}

#noTrial{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
}

#noTrial:hover{
     padding: 15px 25px;
    margin: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: unset;
    background-color: #f55b5b;
    animation-duration: 300ms;
    transition: .5s;
    color: white;
}